{% extends 'base.html' %}

{% block content %}
  <h1>Work Orders</h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Price</th>
        <th>Assigned To</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th>Customer</th>
      </tr>
    </thead>
    <tbody>
      {% for workorder in workorders %}
        <tr>
          <td>{{ workorder.id }}</td>
          <td>{{ workorder.description }}</td>
          <td>{{ workorder.work_order_price }}</td>
          <td>{{ workorder.assigned_to }}</td>
          <td>{{ workorder.due_date }}</td>
          <td>{{ workorder.completed }}</td>
          <td>{{ user.username }}</td>
          <td>
            <a href="{% url 'work_orders:edit_workorder' workorder.id %}" class="btn btn-info"
              >Update</a
            >
            <a
              href="{% url 'work_orders:workorder_detail' workorder.id %}"
              class="btn btn-danger"
              >Details</a
            >
          </td>
    
        </tr>
      {% empty %}
        <tr>
          <td colspan="6">No work orders to display.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
