{% extends 'base.html' %} {% block content %}
<h2>Order #{{ order.id }}</h2>
<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for order_item in order_items %}
    <tr>
      <td>{{ order_item.product.name }}</td>
      <td>${{ order_item.shopping_cart_item_price }}</td>
      <td>{{ order_item.quantity }}</td>
      <td>${{ order_item.total_price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="row">
  <div class="col-md-6">
    <h4>Order total: ${{ order.get_total_cost }}</h4>
  </div>
  <div class="col-md-6 text-right">
    <p>Status: {{ order.paid|yesno:"Paid,Not Paid" }}</p>
  </div>
</div>
{% endblock %}
